* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #fff;
  --bg-color-main: #3A3D5E;
  --color-block: #000;
  --bg-color-block: #fff;
  --border-radius: 0.7rem;
  --border-radius-btn: 0.3rem;
  --border-color-main: #fff;
}

body {
  color: var(--color-main);
  background-color: var(--bg-color-main);
  font-family: 'Open Sans';
}

.container {
  padding: 0.5rem;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 950px) {
  .container {
    max-width: 80vw;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
    max-width: 100vw;
  }
}