.btn {
  --bg-color-btn: #fff;
  --border-color-btn: #fff;
  --color-btn: #000;
  //
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  // font-weight: 600;
  // font-style: italic;
  padding: 0.3rem 0.5rem;
  color: var(--color-btn);
  border: 1px solid var(--border-color-btn);
  border-radius: var(--border-radius-btn);
  background: var(--bg-color-btn);
  transition: all 0.15s;
  // variant
  &-primary {
    --bg-color-btn: #6FB6FA;
    --border-color-btn: #6FB6FA;
    --color-btn: #fff;
  }
  &-danger {
    --bg-color-btn: #dc3545;
    --border-color-btn: #dc3545;
    --color-btn: #fff;
  }
  &-success {
    --bg-color-btn: #5CCB9A;
    --border-color-btn: #5CCB9A;
  }
  // element state
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.7;
  }
}