.todoList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.todoItem {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: var(--bg-color-block);
  border: 1px solid var(--border-color-main);
  border-radius: var(--border-radius);
  .checkbox {
    flex-grow: 0;
  }
  .description {
    flex-grow: 1;
    word-break: break-all;
  }
  .btn {
    flex-grow: 0;
  }
}